spring:
  application:
    name: API-stress-lab
  datasource:
    url: jdbc:postgresql://localhost:5432/api_stress_lab
    username: postgres

  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: create
      show-sql: true

    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080